RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]

Header Set Access-Control-Allow-Origin "*"


<Files ./setting.json>
Order Allow,Deny
Deny from all
</Files>